<div class="container-fluid">
    <div class="row">
        <section>
            <div class="container">
                <div class="row">
                    {{#each products}}
                    <div class="col-md-3 col-sm-6 my-2">
                        <div class="card" style="width: 100%;">
                            <img src="/product-images/{{this._id}}.jpg" style="height: 8rem; width:100%;" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <h3 class="fw-bold">Rs.{{this.price}}</h3>
                                <h4 class="text-secondary">{{this.category}}</h4>
                                <div style="overflow-y: scroll; height: 6rem; " class="scroll">
                                    <p class="card-text">{{this.desc}}</p>
                                </div>
                                <button class="btn btn-primary" onclick="addToCart('{{this._id}}')">Addto Cart</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>
    </div>
</div>


